/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    margin: 24px; 
    padding: 24px;
    height: 200px;
}

.post-it-small {
    vertical-align: top;
    display: inline-block;
    width: 150px;
    margin: 24px; 
    padding: 24px;
    height: 150px;
}

.post-it-image {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    margin: 24px; 
    padding: 24px;
    height: 200px;
}

#blue {
    background-color: rgb(67, 195, 255);
}

#yellow {
    background-color: rgb(255, 255, 100);
}

#purple {
    background-color: rgb(190, 120, 255);
}

#pink {
    background-color: palevioletred;
}
