* {
    box-sizing : border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

div {
    margin: 24px;
    padding: 24px;
    padding-bottom: 100px;

    border: 10px solid green;
    border-radius: 20px;

    background-color: lightgreen;
}

h1 {
    border-bottom: 2px solid black;
    padding-bottom: 8px;
}

img {
    margin-top: 50px;
    border-radius: 150px;
    border: 7px solid black;
    width: 400px;
}

#demo-div {
    margin: 50px;
    padding: 50px;
}