* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    /* fiddle with this to modify the horizontal gallery */
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.horizontal-masonry-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.horizontal-masonry-gallery img {
    /* fiddle with this to modify the horizontal gallery */
    height: 300px;
    flex: 1;
    object-fit: cover;
    border-radius: 15px;
}

.vertical-masonry-gallery {
    columns: 3 auto;
    column-gap: 15px;
}

.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
}