@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lacquer&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #d3d3d3;
}

#nav {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #6d0000;
}

#nav a {
    font-family: "Alfa Slab One", serif;
    text-decoration: none;
    color: white;
    padding: 30px;
}

#nav #logo {
    font-family: "Lacquer", system-ui;
    margin-right: auto;
    font-size: 24px;
}

#hero {
    background-image: url(../images/Hero.jpg);
    background-size: cover;
    background-position: center center;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10%;
    box-shadow: 3px 3px 3px 3px #777777;
}

#hero h1 {
    font-family: "Lacquer", system-ui;
    color: white;
    font-size: 60px;
}

#hero .button {
    background-color: #6d0000;
    margin-left: 30px;
}

.button {
    font-family: "Lacquer", system-ui;
    text-decoration: none;
    color: white;
    background-color: #6d0000;
    padding: 15px;
    border-radius: 10px;
}

#single-column {
    margin: 48px auto;
    max-width: 1200px;
}

#single-column h2 {
    font-family: "Lacquer", system-ui;
    font-size: 40px;
    margin-top: 100px;
}

#single-column #photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    background-color: #202020;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px #777777;
}

#single-column #photo-gallery img {
    height: 400px;
    flex: 1;
    object-fit: cover;
    border-radius: 15px;
}

#single-column #cards {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.card {
    background-color: #202020;
    box-shadow: 3px 3px 3px 3px #777777;
    padding: 70px;
    text-align: center;
    margin: 60px 0px;
    border-radius: 15px;
}

#single-column #cards h3 {
    padding-bottom: 40px;
    color: white;
    font-size: 24px;
    font-family: "Lacquer", system-ui;
}

@media screen and (max-width: 740px) {
    #nav {
        flex-direction: column;
        align-items: center;
    }   
}

@media screen and (max-width:940px) {
    #cards {
        flex-direction: column;
        margin: 30px;
    }
}

@media screen and (max-width: 690px) {
    #hero {
        flex-direction: column;
    }
}